.oscuro {
    background-color: #141414;
    color: aliceblue;
}
.box{
    background-color: black;
    margin-top: 1rem;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 12px;
    border-style: double;
    border-color: crimson;
    border-width: 4px;
    
    
}

.ar{
    border-bottom: #141414;
    
}

.md{
    border-top: #141414;
    border-bottom: #141414;
}

.ab{
    border-top: #141414;
}

.img{
    margin-left: 5%;
    margin-right: auto;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    
}
.navbar{
    border-radius: 10px;
    margin: 1rem;
    margin-left: 10%;
    margin-right: 10%;
}

/* container mt-4 */